<!doctype html>
<html lang="en,zh">
<head>
	<meta charset="UTF-8">
	<title>星云审核</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/reset.css">
</head>

<body>
    <header>
      	 <nav>
       	 <ul>
       	  	<li><img src="image/logo.png"/></li>
       	  	<li><h1>星云审核</h1></li>
       	  	<li><button href="#">项目</button></li>
       	  	<li><button href="#">审核</button></li>
       	  	<li><button href="#">视频</button></li>
       	  	<li><button href="#">人员</button></li>
       	  </ul>
       </nav>
   </header>
   <header>
   </header>
        <div id="divleft1"></div>
	    <div id="divdata"><h1 style="color: red">hello world!</h1></div>
</body>
</html>